body {
    background-color: lightgrey;
}

.main-title {
    text-align: center;
    margin-bottom: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: black;
    color: white;
}

.enter-order {
    text-align: right;
    padding-right: 50px;
}

.cancel {
    text-align: left;
    margin-top: 20px;
}

.btn-primary {
    background-color: black !important;
    border-color: black;
}