body {
    background-color: #331107;
    font-family: Arial, sans-serif;
}

.container {
    background-color: white;
}

a {
    text-decoration: none !important;
}

.intro {
    text-align: justify;
}

.pres-tarifs {
    width: 100%;
    margin-bottom: 5px;
}

.liste-tarifs {
    border-left: solid #ddd thin;
}

.main-title {
    font-family: Georgia, serif;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #222;
    color: white;
    margin: 0 -15px 0 -15px;
}

.main-title a {
    color: white;
}

.translate {
    text-align: right;
    margin: 10px 0 10px 0;
}

.enter-order {
    text-align: right;
    padding-right: 50px;
}

.order-summary {
    width: 100%;
    border: 1px solid black;
}
.order-summary tr {
    height: 50px;
    background-color: white;
    border: none;
}

.ticket-title {
    background-color: #23c0d7 !important;
    border-bottom: 1px solid black !important;
    font-size: 1.2em;
    text-align: center;
}

.total-price {
    margin-top: 20px;
    font-size: 1.2em;
}

.cancel {
    text-align: left;
    margin-top: 20px;
}

.btn-primary {
    background-color: #c82d00 !important;
    border-color: #c82d00;
}

.btn-accent {
    background-color: #23c0d7;
}

.flash-notice {
    color: red;
    font-size: 1.7em;
}

.flash-warning {
    color: #c82d00;
    font-size: 1.5em;
}

.flash-contact {
    color: green;
    font-size: 1.1em;
}

.select-ticket {
    border: 1px solid black;
    background-color: #23c0d7;
    padding-top: 15px;
}

.footer {
    background-color: #222222;
    color: white;
    text-align: center;
    margin: 50px -15px 0 -15px;
}

.footer a {
    color: white;
}

.mentions-title {
    text-align: center;
}

.contact-form textarea {
    min-height: 250px;
    max-height: 300px;
    min-width: 500px;
    max-width: 100%;

    resize: both;
}

.form-text {
    min-width: 500px;


}