{% extends 'base.html.twig' %}

{% block body %}
{# templates/emails/registration.html.twig #}
<h3>Merci de votre commande !</h3>

Bonjour, votre commande numéro {{ number }} a été validée.
Vous trouverez ci-joint un récapitulatif des billets achetés.

{% endblock %}