{% extends 'base.html.twig' %}

{% block body %}

    <h3>Merci de votre commande !</h3>

    <p>Bonjour, votre commande numéro {{ numCom }} dont le montant s'élève à {{ prixTotal }} euros et se composant de {{ nbBillets }} billets a été validée.</p>


{% endblock %}