{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-lg-12">
        <h2>{{ "Erreur"|trans }}</h2>
        <p>{{ "Une erreur s'est produite. Veuillez réessayer s'il vous plaît."|trans }}</p>
        <p><a href="{{ path("home") }}"><button class="btn btn-primary">{{ "Retour à l'accueil"|trans }}</button></a></p>
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
