{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-lg-12">
        <h1>Billetterie du Musée du Louvre</h1>
    </div>

    <h2>Merci de votre commande !</h2>
    <p>Un email vient d'être envoyée à l'adresse suivante : {{ email }}.</p>

{% endblock %}

{% block stylesheets %}

{% endblock %}
