<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Musée du Louvre – Billetterie{% endblock %}</title>


    {% block stylesheets %}
        <style>
            body {
                font-size: 1.5em;
                font-family: sans-serif;
            }
        </style>
    {% endblock %}
</head>

<body>

{% block body %}

    <div>
        <p>Bonjour,<br />
            vous avez reçu un message de la part de {{ nom }}.</p>

        <p>Le contenu du message est le suivant : </p>
        <div class="contenu-message">
            <p>{{ contenu }}</p>
        </div>

        <p>Pour répondre à cette personne, cliquez sur <a href="mailto:{{ email }}">ce lien.</a></p>
    </div>




{% endblock %}

{% block javascripts %}

{% endblock %}

</body>
</html>